body {
  margin: 0.5mm;
}

div {
  display: inline-block;
  vertical-align: top;
  margin-right: 3mm;
}

table {
  border: 0.01em solid WindowText;
  border-collapse: collapse;
  background-color: ButtonFace;
}

table>tr:nth-child(odd) {
  background-color: ButtonHighlight;
}

table>tr>th {
  border: 0.01em solid WindowText;
  padding: 0.2em;
}

table>tr>td {
  border: 0.01em solid WindowText;
  padding: 0.15em;
}

table>tr>td>div {
  max-height: 6ex;
  overflow: auto;
}

footer {
  margin-top: 1ex;
}
